.App-header {
  background-color: #282c34;
  /* background-image: url('./background.jpg');
  background-size: 80vmin;
  background-position: center;
  background-repeat: no-repeat; */
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-logo {
  height: 20vmin;
  min-height: 200px;
  min-width: 200px;
  pointer-events: none;
  display: flex;
  align-items: baseline;
  margin-top: 10px; /* Add 10 pixels top margin */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

/* Rest of your CSS */

.center {
  text-align: center;
}

.google-maps-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  color: white;
}

.facebook-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  color: white;
}

.line-section {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  color: white;
}

/* Remove underline and color change on hover for all anchor tags */
a {
  text-decoration: none;
  color: inherit; /* Inherit the color from the parent element */
}

/* Set the color for anchor tags inside the line-section div */
.line-section a {
  color: #007bff; /* Change this to the desired color for the links */
}

.green-button-style {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.google-maps-logo {
  width: auto;
  max-height: 3vw;
  min-height: 50px;
}

.facebook-logo {
  width: auto;
  max-height: 3vw;
  min-height: 50px;
}